@model Equipe

@{
    ViewData["Title"] = "Equipe";
}

<link rel="stylesheet" href="/css/equipes.css">

<!-- MAIN -->
<main>

    <section class="container-grid cadastro-equipes">

        @if (ViewBag.UserName == null)
        {
            <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
        }
        else
        {
            <form class="frm-cad-equipe" method="post" action="@Url.Action("Cadastrar")" enctype="multipart/form-data">
                <div class="cadequipe-titulo">
                    <h1>Cadastro de Equipes</h1>
                    <hr>
                </div>

                @* <input class="campo-entrada" type="number" id="idEquipe" placeholder="Digite o Id da sua equipe:"> *@
                <input class="campo-entrada" type="text" name="Nome" required placeholder="Digite o nome da sua equipe:">
                <label class="foto" for="foto-file">
                    <span id="file-label">Nenuma imagem selecionada...</span>
                    <input type="file" name="Imagem" id="foto-file" onchange="updateFileLabel()">
                </label>

                <button>Cadastro</button>
            </form>

            @* TABELA CADASTRO DE EQUIPES *@

            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Imagem</th>
                        <th colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Equipe equipe in ViewBag.Equipe)
                    {
                        <tr>
                            <td>@equipe.IdEquipe</td>
                            <td>@equipe.Nome</td>
                            <td>
                                <img class="team-img" src="/img/Equipes/@equipe.Imagem" alt="Imagem da equipe @equipe.Nome" width="85px">
                            </td>

                            <td>
                                <a asp-area="link para excluir time" asp-controller="Equipe" asp-action="Excluir"
                                   asp-route-id="@equipe.IdEquipe">
                                    <img class="yellow-trash" src="~/assets/trash.png" alt="">
                                </a>
                                <a asp-area="link para editar o time" asp-controller="Equipe" asp-action="Editar"
                                   asp-route-id="@equipe.IdEquipe">
                                    <img class="yellow-pencil" src="~/assets/pencil-icon.svg" alt="">
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }



    </section>
</main>

<script>
    // Atualiza o texto da label quando um arquivo é selecionado
    function updateFileLabel() {
        const fileInput = document.getElementById('foto-file');
        const fileLabel = document.getElementById('file-label');

        if (fileInput.files && fileInput.files.length > 0) {
            fileLabel.textContent = fileInput.files[0].name;
        } else {
            fileLabel.textContent = 'Nenhuma imagem selecionada...';
        }
    }
</script>